
        
body, html {
    height: 100%;
  }

.menu{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.bar .button {
    padding: 16px;
}

.top{
    position: fixed;
    width: 100%;
    z-index: 1
}
.top{
    top: 0
}

.bar{
    width:100%;
    overflow: hidden
}

.bar .bar-item{
    padding:8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.bar{
    position: static;
    float: left
}

.bar .button{
    white-space: normal
}
 
.white,.hover-white:hover{
    color: #000!important;
    background-color: #fff!important
}

.card{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.bar-item{
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.bar-item{
    text-align: center
}

.button{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.wide{
    letter-spacing: 4px
}

.right{
    float: right!important;
    color: blue
}

.imgfundo{
    background-position: center;
    background-size: cover;
    background-image: url(building-674828_1920.jpg);
    min-height: 100%;
}

.display-opacity{
    position: relative
}

.display-container:hover span.display-hover{
    display: inline-block
}

.grayscale-min{
    filter: grayscale(50%)
}

.display-left{
    position: absolute;
    top: 50%;
    left:0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%)
}

.text-white,.hover-text-white:hover{
    color:#fff!important
}

.title{
    font-size: 64px!important
}

.subtitle{
    font-size: 36px!important
}

.subsubtitle{
    font-size: 18px!important
}

.padding-large{
    padding: 12px 24px!important
}

.margin-top{
    margin-top: 16px!important
}

.opacity,.hover-opacity:hover{
    opacity: 0.60
}

.opacity-off,.hover-opacity-off:hover{
    opacity: 1
}

.container:after,.container:before{
    content:"";display:table;clear:both
}

.large{
    font-size: 18px!important
}

.row-padding,.row-padding>.quarter{
    text-align: center;
    padding: 0 40px
}

.quarter{
    float: left;
    width: 100%;
}

.quarter{
    width: 33%
}

.margin-bottom{
    margin-bottom: 16px!important
}

.capslock{
    font-size: 64px!important
}

.servicos, .portifolio, .time, .center{
    text-align: center
}

.title-servicos, .title-portifolio, .time, .center{
    margin-top: 0px;
    width: auto;
    text-align: center
}

.col{
    float: left;
    width: inline
}

@media (min-width: 601px){
    .col.m6{
        width: 49.99999%
    }
    
    .col.l4{
        width: 33%
    }
}

@media (min-width: 993px){
    .col.l3{
        width: 24.99999%
    }

    
    .col.l4{
        width: 33%
    }
}

.row-padding,.row-padding>.row-padding>.row-padding>.row-padding>.quarter,.row-padding>.col{
    padding: 0 47px
}

.section{
    margin-top: 16px!important;
    margin-bottom: 16px!important
}

.light-grey{
    color: #000!important;
    background-color: #f1f1f1!important;
    padding-right: 0;
    padding-left: 0;
}

.margin-right{
    margin-right: 16px!important
}

.input{
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.border{
    border: 1px solid #ccc!important
}

.black{
    color: #fff!important;
    background-color: #000!important
}

.padding-64{
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

